<div>
    <div class="main">
      <div class="side_bar">
        <div class="text-white side_bar_elements">
          <h1>SLACA 2019</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="/assets/logo-slaca.png" alt="logo" height="237" width="218"> <!--Link para imagem do logo-->
        </div>
        <div class="my-5">
          <ul class="list-group list-group-flush rover_buttons">
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Apresentação</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Comitês</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Autores</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Eixos temáticos</a></li>
            <li class="list-group-item py-1 px-4 button_active"><a href="#" class="text-decoration-none text-black">Trabalhos</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Contato</a></li>
          </ul>
          </div>
        </div>
      <div class="d-flex flex-column">
        <div class="topico">
          <div class="elementos_topico">
            <ul class="list-inline">
              <li class="mt-1">Anais do Simpósio Latino Americano de Ciências de Alimentos</li>
              <li class="h2">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</li>
              <li class="negative">ISSN: 1234-5678</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="video_container">
      <div class="video_tela">
        <div class="page_title">
          <div>
            <h2 class="h2 my-4" style="color: #f39746; width: 95%"><strong>Análise sensorial de preparações
            funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</strong></h2>
            <img src="/assets/Video.png" alt="imagem com uma praia, letras e rosto de um anciao"
                 style="border-radius: 5px; width: 95%">
          </div>
        </div>
