<div>
    <div class="main" style="margin-top: -0.4cm; margin-left: -1.9%;"> 
      <div class="side_bar">
        <div class="text-white side_bar_elements" style="color: #ffffff;">
          <h1>SLACA 2019</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="/assets/logo-slaca.png" alt="logo" height="240" width="260" style="margin-left: 1cm;"> <!--Link para imagem do logo-->
        </div>
        
        <div class="my-5">
          <ul class="list-group list-group-flush rover_buttons"><!--Adiciona Menu Lateral-->
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Apresentação</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Comitês</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Autores</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Eixos temáticos</a></li>
            <li class="list-group-item py-1 px-4 button_active"><a href="#" class="text-decoration-none text-black">Trabalhos</a></li>
            <li class="list-group-item py-1 px-4"><a href="#" class="text-decoration-none text-black">Contato</a></li>
          </ul>
          </div>
        </div>
      <div class="d-flex flex-column">
        <div class="topico">
          <div class="elementos_topico">
            <ul class="list-inline">
              <li class="mt-1">Anais do Simpósio Latino Americano de Ciências de Alimentos</li>
              <li class="h2">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</li>
              <li class="negative">ISSN: 1234-5678</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="video_container">
      <div class="video_tela">
        <div class="page_title">
          <div>
            <h2 class="h2 my-4" style="color: #f79845; width: 95%"><strong>Análise sensorial de preparações
            funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP</strong></h2>
            <img src="/assets/Video.png" alt=""
                 style="border-radius: 5px; width: 95%">
          </div>
        </div>

          <div class="opcao_da_pagina">
            <div class="d-flex justify-content-center mt-4">
              <a class="btn text-white p-1 px-3 d-flex justify-content-center align-items-center m-1"
                 style="background-color: #fa9b47"><img src="/assets/Imagem - Download.png" alt="seta para baixo / download"></a>
              <a class="btn text-white p-1 px-3 d-flex justify-content-center align-items-center m-1"
                 style="background-color: #fa9b47"><img src="/assets/Favoritos-imagem.png" alt="estrela branca"></a>
              <a class="btn text-white p-1 px-3 d-flex justify-content-center align-items-center m-1"
                 style="background-color: #fa9b47"><img src="/assets/Imagem Doi.png" alt="imagem escrita doi"></a>
            </div>
            <div class="d-flex justify-content-center" style="margin: 10px 0 10px 4px;">
              <a href="#" style="color: #fa9b47; text-decoration: none; white-space: nowrap;"><strong>COMO CITAR ESSE TRABALHO?</strong></a>
            </div>                 
            
            <div class="d-flex justify-content-center" style="margin-top: 32px;">
              <table class="table" style="width: 500px;">
                <thead>
                  <tr><!--Tamanho da fonte de letra "Detalhes"-->
                    <th class="h3 pr-5" style="background-color: #f5ede9; color: #464545; padding-left: 15px; height: 2cm; text-align: left; font-size: 24px;">Detalhes</th>
                  </tr>                                               
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div style="max-height: 400px; overflow-y: auto;">
                        <ul class="list-unstyled" style="border: 1px solid #f5efef; min-width: 320px; border-radius: 0 0 5px 5px; margin: 0; padding: 0;">
                          <li class="dark_text">Tipo de Apresentação: <strong>Pôster</strong></li>
                          <li class="dark_text">Eixo temático: <strong>Alimentação e saúde (AS)</strong></li>
                          <li class="dark_text">Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong></li>
                          <li><br></li>
                          <li class="dark_text"><strong>Autores</strong></li>
                          <li class="dark_text">Galileo Galilei¹</li>
                          <li class="dark_text">Berta Lange de Morretes²</li>
                          <li class="dark_text">Isaac Newton³</li>
                          <li class="dark_text">Cesar Lattes⁴</li>
                          <li class="dark_text">Stephen Hawking⁵</li>
                          <li><br></li>
                          <li><br></li>
                          <li style="color: #cfc8c8">¹Universidade Estadual de Campinas</li>
                          <li style="color: #cfc8c8">²Universidade de São Paulo</li>
                          <li style="color: #cfc8c8">³Instituto Nacional de Pesquisas Espaciais</li>
                          <li style="color: #cfc8c8">⁴Universidade Federal do Rio de Janeiro</li>
                          <li><br></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            

            
            
            